/* Main Section */
.main {
    /* background-color: rgb(201, 216, 216); */
    flex: 1;
    display: flex;
    padding: 20px;
    gap: 20px;
}

/* Left Section: Intro Text */
.left-box {
    flex: 4;
    background-color: rgb(224, 227, 230);
    border-radius: 5%;
    /* border: 2px solid black; */
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-box h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
.left-box p {
    font-size: 18px;
    line-height: 1.6;
}

/* Right Section: Profile Image */
.right-circle {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    width:100%;
    height:100%;
    border: 2px solid black;
    border-radius: 50%;
    background-image: url('/img/1.png'); /* Replace with your image */
    background-size: cover;
    background-position: center;
}

.profile-img {
width: 90%;
height: 90%;
border-radius: 50%;
border: 2px solid rgb(156, 152, 152);
object-fit: cover;
}